[submodule "AFNetworking"]
	path = AFNetworking
	url = git://github.com/AFNetworking/AFNetworking.git
[submodule "ISO8601DateFormatter"]
	path = ISO8601DateFormatter
	url = git://github.com/evadne/ISO8601DateFormatter.git
